<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/TM638231/assets/css/fluentui-dark.css">
</head>
<body>

    {% include header.html %}  <!-- Incluye el encabezado -->

    <main>
        {{ content }}  <!-- Contenido específico de cada página -->
    </main>

    {% include footer.html %}  <!-- Incluye el pie de página -->

</body>
</html>
