<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/grupo8nrc23730/assets/css/fluentui-dark.css">
        <style>
            .grid-container-3-auto {
                display: grid;
                grid-template-columns: repeat(3, auto);
                gap: 20px;
                margin: 20px;
                align-items: stretch;
            }
            .grid-container-3-fijo {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 20px; 
                margin: 20px;
                align-items: stretch;
            }
        </style>
    </head>
    <body>
        {% include tm638231-header.html %}
        <main>
            {{ content }}
            <div class="grid-container-3-fijo">
                <div>
                    <p>*Categoría*: {{ page.categoria }}</p>
                </div>
                <div>
                    <p>Etiquetas: {{ page.etiquetas }}</p>
                </div>
                <div>
                    <p>F. Publicado: page.fechapublicado</p>
                    <p>F. Modificado: page.fechamodificado</p>
                </div>
            </div>
        </main>
        {% include tm638231-footer.html %}
    </body>
</html>
