<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/grupo8nrc23730/assets/css/fluentui-dark.css">
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            margin: 20px;
        }
        .card {
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    {% include tm638231-header.html %}
    <section class="perfil">
        <div class="grid-container">
            <img src="/assets/img/perfil.jpg" alt="Foto de perfil" class="profile-pic">
            <div>
                <h1>{{ page.nombre }}</h1>
                <p>{{ page.descripcion }}</p>
            </div>
        </div>
    </section>
    <section class="proyectos">
        <h2>Proyectos</h2>
        <div class="grid-container">
            <div class="card">
                <h4>Desarrollo</h4>
            </div>
            <div class="card">
                <h4>Educación</h4>
            </div>
            <div class="card">
                <h4>Hardening</h4>
            </div>
        </div>
    </section>
    <section class="contacto">
        <div class="grid-container">
            <div>
                <h2>Contacto</h2>
                <h4>{{ page.celular }}</h4>
                <h4>{{ page.correoe }}</h4>
            </div>
            <div>
                <h2>Educación</h2>
                  <h4>{{ page.tituloactual }}</h4>
                  <h4>{{ page.tituloproximo }}</h4>
            </div>
        </div>
    </section>
    {% include tm638231-footer.html %}
</body>
</html>
